@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  position: relative;
}
header {
  background-color: rgb(4, 8, 240);
}
nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 88px;
  padding: 0 25px;
}
nav ul {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0 23px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: red;
  font-weight: bolder;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  width: 347px;
  border-radius: 2px;
  margin: 0 6px;
  margin: 0 16 0 56 px;
}

.container {
  min-height: calc(100vh - 70px - 70px);
}
.slider {
  margin: 13px auto 25px auto;
  width: 50vw;
  height: 30vh;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #0408f0;
  color: white;
  font-family: "Oswald", sans-serif;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:white
  padding: 8px;
  border-radius: 4px;
  margin: -2px;
  width: 100%;
}
.card__heading h2 {
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 15px;
}
/* .card__button {
  padding: 7px 14px;
  background-color: #0408f0;
  border: none;
  border-radius: 3px;
  color: white;
  letter-spacing: 1px;
} */
.box-image {
  box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  width: 19%;
}
.box {
  padding: 4px 28px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
}
.text-center {
  width: 100%;
}
